//custom changes can be made here for buttons or modal if needed to change any style issue.
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.full-height {
  height: 100vh;
}
.modal {
  height: 70vh;
  overflow-y: scroll;
}
.modal-background {
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-header {
  display: block;
  .form-control {
    width: 50%;
  }
}

.spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-wrapper {
  height: 54px;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
    overflow-y: initial !important;
  }
}
.modal-content {
  overflow-y: scroll;
}

.modal-body {
  overflow-y: auto;
  height: 50vh;
}
.cursor-pointer {
  cursor: pointer;
}

.btn-text {
  color: white;
}
.btn-outline {
  box-shadow: none;
}
.btn-allcontact {
  @extend .btn-text;

  background-color: #46139f;
  border-color: #46139f;
  &:hover,
  &:focus,
  &:active {
    @extend .btn-text;
    @extend .btn-outline;
    background-color: #2b0b61;
    border-color: #2b0b61;
  }
}

.btn-uscontact {
  @extend .btn-text;
  background-color: #ff7f50;
  border-color: #ff7f50;
  &:hover,
  &:focus,
  &:active {
    @extend .btn-text;
    @extend .btn-outline;
    background-color: #9b4c2f;
    border-color: #9b4c2f;
  }
}

.btn-close {
  border-color: #46139f;
  color: #46139f;
  &:hover,
  &:focus,
  &:active {
    @extend .btn-text;
    @extend .btn-outline;
    border-color: #46139f;
    background-color: #46139f;
  }
}
